.mosquitoe1 {
  height: 50px;
  width: 50px;
  position: absolute;
}

.mosquitoe2 {
  height: 70px;
  width: 70px;
  position: absolute;
}

.mosquitoe3 {
  height: 90px;
  width: 90px;
  position: absolute;
}
